body,
html,
div,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
footer,
header,
menu,
nav,
section,
article,
input,
select,
form {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #666;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: #108ee9;
	font-size: 10px;
}
body,
html {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	background-image: url(../img/bgi.png);
	background-position: center;
	background-size: contain;
	justify-content: center;
	display: flex;
}
input::-webkit-input-placeholder { 
/* WebKit browsers */ 
color: #ccc; 
font-size: 12px;
} 
input:-moz-placeholder { 
/* Mozilla Firefox 4 to 18 */ 
color: #ccc; 
font-size: 12px;
} 
input::-moz-placeholder { 
/* Mozilla Firefox 19+ */ 
color: #ccc; 
font-size: 12px;
} 
input:-ms-input-placeholder { 
/* Internet Explorer 10+ */ 
color: #ccc; 
font-size: 12px;
}
.el-tag{
    line-height: inherit !important;
    padding: 0rem 0.5rem !important;
    border-radius: 2rem !important;
    padding-bottom: 0px !important;
    padding-top: 0 !important;
	height: auto !important;
}
.el-tag--dark.el-tag--warning{
	background: #f28700 !important;
	margin-left: 0.3rem !important;
}
.el-dialog__header{
    background: #3c8cd2 !important;
    padding: 0 1rem !important;
    height: 2.7rem !important;
    align-items: center;
    display: flex;
}
.el-dialog__title{
	font-size: 1rem !important;
	color: white !important;
}
.el-dialog__headerbtn .el-dialog__close{
	color: white !important;
	font-size: 1rem;
}
.el-dialog__body{
	padding: 20px 40px;
}